{
  "root": true,
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:unicorn/recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": ["storybook", "testing-library"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-null": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-object-from-entries": "off",
    "unicorn/prevent-abbreviations": "off"
  },
  "overrides": [
    {
      "files": ["*.stories.tsx"],
      "extends": ["plugin:storybook/recommended"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["*.test.tsx"],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
