{
  "root": true,
  "extends": "next/core-web-vitals",
  "parserOptions": {
    "project": "./docs/tsconfig.json"
  },
  "rules": {
    "@next/next/no-html-link-for-pages": ["error", "docs/pages/"],
    "react/no-array-index-key": "off"
  }
}
